@import '../../template.scss';

.vote {
  display: grid;
  grid-gap: $margin-2;
  font-size: $text-5;
  font-weight: 600;
  margin-right: $margin-3;
  text-align: center;
  width: calc(50rem / 14);

  svg {
    display: block;
    margin: auto;
    cursor: pointer;
    border-radius: 50%;
  }

  svg:hover {
    background-color: $primary-5;
  }
}
