@import '../../template.scss';

.vote {
  display: grid;
  grid-gap: $margin-3;
  font-size: $text-5;
  font-weight: 600;
  margin-right: $margin-4;
  text-align: center;

  svg {
    cursor: pointer;
    border-radius: 50%;
  }

  svg:hover {
    background-color: $primary-5;
  }
}
