@import '../../template.scss';

.videoNav {
  padding: $margin-3;
  display: grid;
  grid-gap: $margin-4;

  a {
    @extend .hoverLink;
    color: $dark-7;
  }

  .videoNavSection:first-child {
    margin-top: $margin-3;
  }
}

.videoNavSection {
  display: grid;
  grid-gap: $margin-3;
}

.videoNavHeader {
  font-weight: 600;
  color: $dark-9;
  border-bottom: 1px solid $dark-3;
  padding-bottom: $margin-2;
  text-transform: uppercase;
}
