@import '../../template.scss';

.vote {
  display: flex;
  flex-direction: column;
  margin-right: $margin-3;
  margin-top: 3px;
  font-size: $text-3;
  align-items: center;

  > svg {
    display: flex;
    flex-shrink: 0;
    margin: 0 auto;
  }

  svg {
    border-radius: 50%;
  }

  svg:not(.disabled):hover {
    cursor: pointer;
    background-color: $primary-5;
  }

  .disabled {
    color: $dark-5;
    cursor: not-allowed;
  }

  .active {
    background-color: $primary-2;
  }
}
