@import '../../template.scss';

.button {
  outline: none;
  padding: 0.6em 1em;
  cursor: pointer;
  border: 1px solid $dark-9;

  &:hover:not([disabled]) {
    text-decoration: underline;
  }

  &[disabled] {
    color: $dark-5;
    background-color: $dark-2;
    border-color: $dark-2;
    cursor: not-allowed;
  }
}
