@import '../../template.scss';

.searchBar {
  @extend .transition;
  border: none;
  border-radius: $border-radius-1;
  background-color: $dark-3;
  font-size: $text-4;
  padding: $margin-3;
  margin-bottom: $margin-2;

  &:focus {
    @include placeholder($dark-8);
  }
}
