@import '../../template.scss';

.toggleLink {
  @extend .hoverLink;
  padding: 0;
  margin-top: $margin-3;
  border: 0;
  text-decoration: underline;
  font-weight: 600;
  font-size: $text-2;
}

.verticalTruncate {
  overflow: hidden;
  max-height: 300px;
}
