@import '../../template.scss';

.tagChip {
  @extend .chip;
  color: $white;
  white-space: nowrap;
  font-size: 9px;
  margin-left: $margin-3;
}

.coordination {
  background-color: $dark-8;
}

.technical {
  background-color: $primary-4;
}

.process {
  background-color: $dark-5;
}

.motivation {
  background-color: $primary-3;
}

.fun {
  background-color: $pink;
}
