@import '../../template.scss';

.tag {
  @extend .hoverLink;
  margin-top: $margin-2;
  margin-bottom: $margin-3;
  font-size: $text-1;
  background-color: $dark-2;
  padding: 3px 5px;

  + .tag {
    margin-left: $margin-2;
  }

  &:hover {
    text-decoration: none;
  }
}
