@import '../../template.scss';

.tabsContainer {
  border-bottom: 2px solid $dark-8;
  background-color: $white;
}

.tabs {
  @extend .tabs;
  display: inline-flex;
  width: 100%;

  > * {
    white-space: nowrap;
  }

  &.hasMore {
    width: auto;
    justify-content: flex-start;
    border-right: none;
  }
}

.divider {
  height: 1rem;
  width: 1px;
  background-color: $dark-9;
  margin: 0 $margin-2;
}

.seeMore {
  background-color: $white;
  padding: $margin-3 0;
  padding-right: $margin-2;
  cursor: pointer;
  display: inline-flex;
  align-items: center;

  svg {
    margin-left: $margin-1;
  }

  span {
    padding: 0 $margin-1;
    display: flex;
    align-items: center;
  }

  &:hover span {
    background-color: $primary-5;
  }
}

.tabsMore {
  @extend .card;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: $margin-3;
  border-top: 2px dashed $dark-4;

  > * {
    @extend .truncate;
    cursor: pointer;
  }

  > *:hover {
    text-decoration: underline;
    background-color: $primary-5;
  }

  .active {
    font-weight: 600;
    text-decoration: underline;
  }
}
