@import '../../template.scss';

.item {
  @extend .card;
  border: 1px solid $dark-5;
  border-bottom: 3px solid $dark-8;
  display: flex;
}

.itemContent {
  display: flex;
  flex-direction: column;
}

.itemHeader {
  font-weight: 600;
  display: block;
  margin-bottom: $margin-1;
  font-size: $text-3;

  a:hover {
    background-color: $primary-5;
    text-decoration: none;
  }
}

.itemActions {
  margin-top: auto;
}

.itemDescription {
  white-space: pre-line;
}

.itemMeta {
  font-weight: 600;
  font-size: $text-2;
  margin-right: $margin-2;

  &:hover {
    background-color: $primary-5;
    text-decoration: underline;
  }
}

* + .itemMeta {
  margin-left: $margin-2;
}
