@import '../../template.scss';

.item {
  @extend .card;
  display: flex;
}

.itemContent {
  display: grid;
  grid-gap: $margin-2;
  min-width: $width-2;
}

.itemHeader {
  font-weight: 600;
  border-bottom: 2px solid $dark-8;
  text-transform: uppercase;
  font-family: $serif;
  display: block;
  padding-right: $margin-3;
  text-decoration: none;

  a:hover {
    background-color: $primary-5;
    text-decoration: none;
  }
}

.itemDescription {
  white-space: pre-line;
}

.itemMeta {
  font-weight: 600;
  font-size: $text-2;
  margin-right: $margin-2;

  &:hover {
    background-color: $primary-5;
    text-decoration: underline;
  }
}

* + .itemMeta {
  margin-left: $margin-2;
}
