@import '../../template.scss';

.questionHeader {
  font-size: $text-8;
  font-weight: 600;
  text-align: center;
  font-family: $serif;
  margin-top: $margin-3;
  margin-bottom: $margin-4;
}

.questionDescription {
  text-align: center;
  font-family: $serif;
  font-size: $text-4;
  margin: 0 auto;
  margin-bottom: $margin-3;
  width: $width-2;
}
