@import '../../template.scss';

.question {
  @extend .card;
  display: flex;
}

.comment {
  @extend .card;
  border-top: 2px dashed $dark-4;

  > div {
    margin-top: 0;
    padding: 0 $margin-3;
  }
}

.fullContainer {
  border-bottom: 3px solid $dark-8;
}

.commentTitle {
  font-size: $text-1;
  margin-bottom: $margin-1;
}
