@import '../../template.scss';

.addQuestion {
  @extend .card;
  padding: $margin-4;
  border: 0;
  border-bottom: 3px solid $dark-8;
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: $width-3;
  align-items: flex-start;
}

.addQuestionSignup {
  @extend .card;
  padding: $margin-4;
}

.questionRow {
  display: flex;
  justify-content: flex-end;
  margin-top: $margin-2;

  > * {
    margin-left: $margin-2;
  }
}

.questionContainer {
  display: grid;
  grid-gap: $margin-3;
}

.guidelineContainer {
  display: grid;
  grid-gap: $margin-2;
}

.questionTitle {
  border: 0;
  background-color: $dark-2;

  &::placeholder {
    color: $dark-8;
  }
}

.questionDescription {
  background-color: $dark-2;
  padding: $margin-2;

  textarea {
    background-color: $dark-2;

    &::placeholder {
      color: $dark-8;
    }
  }
}
