@import '../../template.scss';

.addQuestion {
  @extend .card;
  padding: $margin-4;
  border: 0;
  border-bottom: 4px solid $dark-8;
  display: grid;
  grid-gap: $margin-3;
  width: $width-2;
}

.addQuestionSignup {
  @extend .card;
  padding: $margin-4;
}

.questionRow {
  display: flex;
  justify-content: flex-end;
  margin-top: $margin-2;

  > * {
    margin-left: $margin-2;
  }
}

.questionContainer {
  padding-top: $margin-3;
  display: grid;
  grid-gap: $margin-3;
}

.guidelineContainer {
  display: grid;
  grid-gap: $margin-1;
  background-color: $dark-1;
  border: 1px solid $dark-9;
  border-bottom: 2px solid $dark-8;
  padding: $margin-3;
}

.questionTitle {
  border: 0;
  background-color: $dark-2;

  &::placeholder {
    color: $dark-6;
  }
}

.questionDescription {
  background-color: $dark-2;
  padding: $margin-2;

  textarea {
    background-color: $dark-2;

    &::placeholder {
      color: $dark-6;
    }
  }
}
