@import '../../template.scss';

.recentComments {
  @extend .card;
  border-top: 0;
  background-color: $dark-1;

  > div {
    margin-top: 0;
  }
}

.recentTitle {
  font-size: $text-1;
  margin-bottom: $margin-1;
}
