@import '../../template.scss';

.navbarContainer {
  width: 100vw;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: $width-5;
  margin: 0 auto;
  padding: 0 $margin-3;
  height: $margin-5;

  .navActions {
    display: flex;

    > * {
      @extend .transition;
      padding: $margin-3;
      display: flex;
      align-items: center;
      white-space: nowrap;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      @media (max-device-width: 768px) {
        padding: $margin-2;
        font-size: $text-1;
      }
    }

    .active {
      font-weight: 600;
    }
  }

  .brand {
    font-family: $serif;
    font-weight: 600;
    margin-right: $margin-5;
    font-size: $text-5;
    padding: 0;

    @media (max-device-width: 768px) {
      margin-right: 0;
      font-size: $text-2;
    }
  }

  .subscript {
    font-size: $text-3;
    font-weight: 400;
    margin-left: $margin-2;

    @media (max-device-width: 768px) {
      display: block;
      font-size: 9px;
      text-align: center;
      margin: 0;
    }
  }
}

.addQuestionBtn {
  font-weight: 600;

  &:hover span {
    background-color: $primary-5;
  }
}

.logoutBtn {
  color: $dark-6;
}
