@import '../../template.scss';

.label {
  font-size: $text-1;
}

.comment {
  @extend .card;
  border-top: 0;
  background-color: $dark-1;

  > div {
    margin-top: 0;
  }
}

.question {
  @extend .hoverLink;
  font-weight: 600;
  font-family: $serif;
  border-bottom: 1px dotted $dark-8;
  font-size: $text-3;

  &:hover {
    text-decoration: none;
  }
}
