@import '../../template.scss';

.comment {
  @extend .card;
  @extend .card;
  border-top: 2px dashed $dark-4;

  > div {
    margin-top: 0;
  }
}

.question {
  @extend .hoverLink;
  font-weight: 600;
  font-size: $text-3;

  &:hover {
    text-decoration: none;
  }
}
