@import '../../template.scss';

.questionPage {
  width: $width-3;
  margin: 0 auto;
  display: grid;
  grid-gap: $margin-3;

  @media (max-device-width: 768px) {
    width: 100%;
  }
}

.commentSection {
  @extend .card;
  display: grid;
  grid-gap: $margin-3;
  padding: $margin-3 $margin-4;
  padding-top: $margin-1;
  border-bottom: 2px solid $dark-8;
}

.questionTabs {
  overflow: hidden;
  border: 0;
}
