@import '../../template.scss';

.footer {
  width: 100%;
  background-color: $white;
  padding: $margin-4 $margin-5;
  padding-bottom: $margin-3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3fr;
  line-height: 1.7;
  box-sizing: border-box;
  border-top: 2px solid $dark-9;

  a {
    @extend .hoverLink;
  }

  @media (max-device-width: 768px) {
    padding: $margin-4;
    grid-template-columns: 1fr 1.5fr 1.5fr;
  }
}

.footerLabel {
  font-weight: bold;
  margin-bottom: $margin-1;
}
