@import '../../template.scss';

.comment {
  display: flex;
  margin-top: $margin-3;
}

.commentContent {
  display: grid;
  grid-gap: $margin-1;
  width: 100%;
}

.commentBody {
  white-space: pre-line;
}

.replyBox {
  margin: $margin-2 0;
}

.author {
  font-weight: 600;
  font-size: $text-1;
  cursor: pointer;

  &:hover {
    background-color: $primary-5;
    text-decoration: underline;
  }
}

.footerAction {
  font-weight: 600;
  cursor: pointer;
  margin-right: $margin-2;

  &:hover {
    background-color: $primary-5;
    text-decoration: underline;
  }
}

.commentFooter {
  margin-top: $margin-1;
  font-size: $text-1;
  display: flex;
}

.threadLineContainer {
  padding: 5px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  height: 100%;

  &:hover {
    background-color: $primary-5;
  }
}

.threadLine {
  width: 2px;
  background-color: $dark-8;
  height: 100%;
}

.collapseIcon {
  background-color: $primary-5;
}

.collapseText {
  margin-left: $margin-2;
  cursor: pointer;
  font-size: $text-1;
  font-weight: 600;

  &:hover {
    background-color: $primary-5;
    text-decoration: underline;
  }
}

.answerLabel {
  font-weight: 600;
  font-size: $text-1;
  margin-right: $margin-2;
  color: $secondary-5;
}
