@import '../../template.scss';

.comment {
  display: flex;
  margin-top: $margin-3;
}

.commentContent {
  display: grid;
  grid-gap: $margin-1;
  width: 100%;
}

.replyBox {
  margin: $margin-2 0;
}

.author {
  font-weight: 600;
  font-size: $text-1;
  cursor: pointer;

  &:hover {
    background-color: $primary-5;
    text-decoration: underline;
  }
}

.reply {
  font-weight: 600;
  cursor: pointer;

  &:hover {
    background-color: $primary-5;
    text-decoration: underline;
  }
}

.timestamp {
  margin-left: $margin-2;
}

.commentFooter {
  margin-top: $margin-1;
  font-size: $text-1;
  display: flex;
}

.threadLine {
  width: 2px;
  background-color: $dark-8;
  border: 5px solid $white;
  height: 100%;
  cursor: pointer;

  &:hover {
    border-color: $primary-5;
  }
}

.collapseIcon {
  background-color: $primary-5;
}

.collapseText {
  margin-left: $margin-2;
  cursor: pointer;
  font-size: $text-1;
  font-weight: 600;

  &:hover {
    background-color: $primary-5;
    text-decoration: underline;
  }
}
