$primary-5: hsl(170, 85%, 75%);
$primary-4: hsl(170, 85%, 80%);
$primary-3: hsl(170, 85%, 85%);
$primary-2: hsl(170, 85%, 90%);
$primary-1: hsl(170, 85%, 95%);

$secondary-5: hsl(230, 100%, 60%);

$dark-10: hsl(230, 10%, 10%);
$dark-9: hsl(230, 10%, 20%);
$dark-8: hsl(230, 10%, 30%);
$dark-7: hsl(230, 10%, 40%);
$dark-6: hsl(230, 10%, 50%);

$dark-5: hsl(230, 25%, 70%);

$dark-4: hsl(230, 35%, 85%);
$dark-3: hsl(230, 35%, 90%);
$dark-2: hsl(230, 35%, 95%);
$dark-1: hsl(230, 35%, 98%);

$pink: hsl(349, 100%, 77%);
$yellow: #fff9a2;
$white: #ffffff;
$red: #c50818;

$serif: Georgia;
$sans-serif: Helvetica, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

$width-5: 1200rem / 14;
$width-4: 1000rem / 14;
$width-3: 850rem / 14;
$width-2: 600rem / 14;
$width-1: 400rem / 14;

$margin-5: 64rem / 14;
$margin-4: 32rem / 14;
$margin-3: 16rem / 14;
$margin-2: 8rem / 14;
$margin-1: 4rem / 14;

$border-radius-1: 3px;
$border-radius-2: 6px;

$text-11: 96rem / 14;
$text-10: 72rem / 14;
$text-9: 60rem / 14;
$text-8: 48rem / 14;
$text-7: 36rem / 14;
$text-6: 24rem / 14;
$text-5: 21rem / 14;
$text-4: 18rem / 14;
$text-3: 16rem / 14;
$text-2: 14rem / 14;
$text-1: 12rem / 14;

$line-height-3: 1.43;
$line-height-2: 1.3;
$line-height-1: 1.2;

@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

[type='checkbox'] {
  margin-right: $margin-2;
}

.shadow-1 {
  box-shadow: 0 3px $text-6 rgba($dark-9, 0.05);
}

.shadow-2 {
  box-shadow: 0 3px $text-7 rgba($dark-9, 0.3);
}

.shadow-3 {
  box-shadow: 0 3px $text-8 rgba($dark-9, 0.5);
}

.card {
  border: 1px solid $dark-6;
  padding: calc(20rem / 14);
  background-color: $white;
}

.chip {
  padding: $margin-1 $margin-2;
}

.bold {
  font-weight: 600;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link {
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  background-color: transparent;

  &.primary {
    background-color: $primary-5;
  }
}

.hoverLink {
  @extend .link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    background-color: $primary-5;
  }
}

.tabs {
  display: flex;
  justify-content: space-around;
  border: 1px solid $dark-9;
  padding: 0 $margin-3;

  @media (max-device-width: 768px) {
    display: block;
    text-align: center;
  }

  > * {
    margin: $margin-3 $margin-2;
    cursor: pointer;

    @media (max-device-width: 768px) {
      display: inline-block;
      margin: $margin-1 $margin-2;
      text-transform: none;
    }
  }

  > *:hover {
    text-decoration: underline;
    background-color: $primary-5;
  }

  .active {
    font-weight: 600;
    text-decoration: underline;
  }
}

.highlight {
  background-color: $yellow;
}

.badge {
  background-color: $dark-2;
  border-radius: 50%;
  width: $text-7;
  height: $text-7;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.transition {
  transition: 0.2s;
}

.heading-0 {
  font-weight: 600;
  font-family: $serif;
  margin-bottom: $margin-1;
}

.heading-1 {
  font-size: $text-3;
  margin-bottom: $margin-3;
}

.heading-2 {
  font-size: $text-6;
  font-weight: 600;
  margin-bottom: $margin-3;
}

.heading-3 {
  font-size: $text-8;
  font-weight: 600;
  margin-bottom: $margin-3;
  font-family: $serif;
}

.text-1 {
  font-size: $text-1;
}

.form-field {
  display: grid;
  grid-gap: $margin-1;
}

input {
  outline: none;
  padding: 0.6em 1em;
}

textarea {
  @extend .transition;
  resize: none;
  border: none;
  outline: none;
  width: 100%;
}

.btn {
  color: $white;
  background-color: $dark-9;
  min-width: calc(70rem / 14);
  display: inline-block;
  outline: none;
  padding: 0.6em 1em;
  border: none;
  cursor: pointer;
  font-weight: 600;

  &:hover:not([disabled]) {
    color: $primary-5;
  }
}

.faded {
  color: $dark-6;
}

.outlineBtn {
  @extend .shadow-1;
  @extend .transition;
  border-radius: $border-radius-1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 600;
  color: $dark-5;
  border: 2px dashed $dark-5;
  cursor: pointer;

  svg {
    margin-right: $margin-2;
  }

  &:hover {
    color: $primary-4;
    border-color: $primary-4;
  }

  &:active {
    color: $primary-5;
    border-color: $primary-5;
  }
}

[tabindex] {
  outline: none;
}

.ql-editor {
  padding: 0;
}

.ql-bubble .ql-editor blockquote {
  border-left-color: $dark-3;
  color: $dark-6;

  + blockquote {
    margin-top: -5px;
  }
}

.ql-tooltip-editor input::placeholder {
  color: transparent;
}

.ql-bubble .ql-tooltip {
  background-color: $dark-9;
}

.ql-editor.ql-blank::before {
  font-style: normal;
  font-family: $sans-serif;
  color: $dark-7;
  left: 0;
}
