@import '../../template.scss';

.videoContainer {
  @extend .shadow-2;
  border-radius: $border-radius-1;
  width: 100%;
  max-height: calc(350rem / 14);
  margin-top: $margin-3;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  background-color: $dark-10;
  padding: $margin-1;
  box-sizing: border-box;
}
