@import '../../template.scss';

.richText {
  font-family: $serif;
  font-size: $text-3;
  line-height: 1.5;
  color: $dark-10;
  padding: 0 $margin-2;

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }
}
