@import '../../template.scss';

.commentText {
  @extend .card;
  border: 0;
  border-bottom: 3px solid $dark-9;
  background-color: $dark-2;
  padding: $margin-3;
  padding-bottom: 0;
  height: 100px;

  textarea {
    background-color: $dark-2;

    &::placeholder {
      color: $dark-8;
    }
  }
}

.commentAction {
  display: flex;
  justify-content: flex-end;
  margin-top: $margin-2;

  > * {
    margin-left: $margin-2;
  }
}
