@import '../../template.scss';

.commentText {
  @extend .card;
  border: 0;
  background-color: $dark-2;
  padding: $margin-3;

  > div > div:first-child {
    min-height: 100px;
  }
}

.commentAction {
  display: flex;
  justify-content: flex-end;
  margin-top: $margin-2;

  > * {
    margin-left: $margin-2;
  }
}
