@import '../../template.scss';

.commentBox {
  padding: calc(20rem / 14);
  background-color: $white;
  border: 2px solid $dark-9;
  cursor: pointer;
}

.commentRow {
  display: flex;
  justify-content: flex-end;
}

.commentBtn {
  border: 2px solid $dark-9;
  font-weight: 600;

  &:hover {
    background-color: #9cf4dc;
    text-decoration: underline;
  }
}

.responseSection {
  display: grid;
  grid-gap: $margin-3;
}
