@import '../../template.scss';

.searchContainer {
  display: flex;
}

.searchBar {
  border: 2px solid $dark-9;
  font-weight: 600;
  width: 100%;
  font-size: $text-3;

  &::placeholder {
    font-family: $serif;
    color: $dark-9;
  }
}

.searchBtn {
  border: 2px solid $dark-9;
  margin-left: $margin-2;
  font-weight: 600;

  &:hover {
    background-color: #9cf4dc;
    text-decoration: underline;
  }
}
