@import '../../template.scss';

.searchBar {
  padding: $margin-3;
  font-weight: 600;
  border: none;
  border-bottom: 3px solid $dark-9;
  background-color: $dark-2;

  &::placeholder {
    color: $dark-9;
  }

  &:focus {
    background-color: $primary-5;
  }
}
