@import '../../template.scss';

.searchContainer {
  display: flex;
  border: 2px solid $dark-9;
  margin-bottom: $margin-3;
}

.searchBar {
  width: 100%;
  padding: $margin-3 $margin-4;
  font-weight: 600;
  font-family: $serif;
  border: none;
  background-color: $dark-2;

  &::placeholder {
    color: $dark-9;
  }
}
