@import '../../template.scss';

.questionContainer {
  background-color: $dark-1;
  padding: $margin-4 $margin-5;
  width: $width-2;
  margin: 0 auto;
  display: grid;
  grid-gap: $margin-3;
}

.question {
  cursor: pointer;

  &:hover .selectQuestion {
    text-decoration: underline;
    color: $primary-4;
  }
}

.questionTabs {
  @extend .tabs;
  display: flex;
  justify-content: center;

  > * {
    padding: $margin-3;
  }
}

.selectQuestion {
  font-weight: 600;
  color: $dark-8;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
